//CHanged

streamlit
streamlit_chat
fpdf
pandas
numpy
matplotlib
scikit-learn
spacy==3.6.1
thinc==8.1.12
google-generativeai
resend
speechrecognition
# spaCy model (compatible with 3.6.1)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl
